* {
    color: darkslategrey;
    background-color: rgb(252, 222, 195);
    font-family: coolvetica;
    scroll-behavior: smooth;
    margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
   }

   @font-face {
    font-family: coolvetica;
    src: url(coolveticarg.otf);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

   /*nav bar*/
   div.container
   {
       
       margin: 0 auto;
      padding: 20px 0px;
       text-align: center;
   }
   
   div.container a
   {
       color: rgb(255, 111, 111);
       text-decoration: none;
        font-size: 1em;    
       margin: 0px 10px;
       padding: 10px 10px;
       position: relative;
       z-index: 0;
       cursor: pointer;
       font-family: coolvetica;
   }
     
   /* animation nav bar  */
   div.borderXwidth a:before, div.borderXwidth a:after
   {
       position: absolute;
       opacity: 0;
       width: 0%;
       height: 2px;
       content: '';
       background: rgb(255, 111, 111);
       transition: all 0.3s;
       font-family: coolvetica;
   }
   
   div.borderXwidth a:before
   {
       left: 0px;
       top: 0px;
   }
   
   div.borderXwidth a:after
   {
       right: 0px;
       bottom: 0px;
   }
   
   div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
   {
       opacity: 1;
       width: 100%;
   }

   /*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(252, 222, 195); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 111, 111); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 87, 87); 
  }

   h1,h2 {
     color: rgb(255, 111, 111);
     padding-left: 20px;
       font-family: coolvetica;
   }
   
   p {
    padding-left: 20px;
       font-family: coolvetica;
   }
   
   header h1 {
       text-align: center;
       margin-bottom: 100px;
       font-size: 4em;
   }
   
   main {
       display: flex;
       flex-direction: column;
       gap: 500px;
   }
   
   main section {
           display: flex;
           grid-template-columns: 1fr 2fr;
           margin-top: 10%;
   }
  
   header h1 {
       animation: animation-titre 2s;
   }
   
   @keyframes animation-titre {
       0%{
           transform: scale(200%, 200%);
           opacity: 0;
       }
   
       100% {
           transform: scale(1, 1);
           opacity: 1;
       }
   }

   .gr2 {
    display: flex;
    grid-template-columns: 1fr 2fr;
    margin-top: -10%;
   }

   .gr3 {
    display: flex;
    grid-template-columns: 1fr 2fr;
    margin-top: -10%;
   }
   
   .gr4 {
    display: flex;
    grid-template-columns: 1fr 2fr;
    margin-top: -5%;
   }

   .gr5 {
    display: flex;
    grid-template-columns: 1fr 2fr;
    margin-top: -10%;
   }

   footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 111, 111);
    height: 50px;
    margin-top: 10%;
       
}

   footer p {
    padding-left: 0px;
       font-family: coolvetica;
   }

   #enbas {
    margin-top: 10%;
   }
